body {
	
	background-color:#FFA54F;
	background-repeat: repeat !important;
}



h1 {
	margin-top: 1cm;
	font-size: 35px;
	text-align: center;
}

.ui-layout-north {
	z-index: 20 !important;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
	border-color: #e78f08 !important;
	background-color: white !important;
}

.ui-layout-center {
	width: 85% !important;
	margin-right: auto !important;
	margin-left: auto !important;
	background-color: white !important;
	background-repeat: repeat !important;
}

.ui-layout-center .ui-layout-unit-content {
	background-color:#BEBEBE;
	background-repeat: repeat !important;
}

.ui-layout-south {
	z-index: 20 !important;
	overflow: visible !important;
	background-color: #e78f08 !important;
	background-image: url("#{request.contextPath}/img/fundo_listrado.gif")
		!important;
	background-repeat: repeat !important;
}

.ui-layout-south .ui-layout-unit-content {
	background-image: url("#{request.contextPath}/img/fundo_nobre2.gif")
		!important;
	background-repeat: repeat !important;
}

.layoutHeader tr,.layoutHeader td {
	border: none !important;
	background-image: url("#{request.contextPath}/img/header_pegadas_3.png")
		!important;
		
	background-repeat: repeat !important;
}

.loginPanel td {
	border: none !important;
	background-image: url("#{request.contextPath}/img/fundo_nobre2.gif")
		!important;
	background-repeat: repeat !important;
}

.ui-menubar {
	border: 1px solid #e78f08 !important;
	color: #e78f08 !important;
}

.ui-menuitem {
	font-family: sans-serif;
	margin-right: 5px !important;
}

.fileupload-buttonbar {
	background: transparent none;
	border: none;
}

.fileupload-content {
	display: none;
}

.panelGrid tr,.panelGrid td {
	border: none !important;
	background-color: transparent !important;
}

.novaPlbBackG tr, .novaPlbG td{
	border: none !important;
	border-color: transparent !important;
	background-color: #FDF5E6 !important;
}

.panelGridFundo tr,.panelGridFundo td {
	border: none !important;
	background-color: #FFFFFF !important;
}

.hide-column-names table thead tr {
	display: none;
}

.ui-dialog.ui-widget-content {
	border: none !important;
	
		background-color:#BEBEBE;
	background-repeat: repeat !important;
}

.ui-dialog {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.ui-datatable th div.ui-dt-c,.ui-datatable .ui-datatable-data td div.ui-dt-c,.ui-datatable .ui-datatable-data-empty td div.ui-dt-c,.ui-datatable tfoot td div.ui-dt-c
	{
	padding: 0 !important;
	border: none !important;
}

.panelGridCellspacing tr,.panelGridCellspacing td {
	border: none !important;
	background-color: transparent !important;
	padding-bottom: 15px !important;
}

.panelGridCellspacing2 tr,.panelGridCellspacing2 td {
	border: none !important;
	background-color: transparent !important;
	padding-left: 15px !important;
}

.ui-widget .ui-widget {
	font-size: 16px !important;
	font-family: sans-serif;
}

.ui-fileupload .progress {
	display: none;
}

.ui-accordion .ui-accordion-content {
	background-color: transparent !important;
	padding: 0 !important;
}

.fSmallCaps {
	font-variant: small-caps;
}

.fDestaque {
	color: #eb8f00;
	font-size: 20px;
	font-family: serif;
}

.f1 {
	color: #1C94C4;
	font-size: 14px;
	font-weight: bold;
}

.f2 {
	color: #1C94C4;
	font-size: 12px;
}

.f3 {
	color: #eb8f00;
	font-size: 15px;
}

.f4 {
	color: #eb8f00;
	font-size: 14px;
}

#messagesTab1 {
	font-style: italic;
}

.corLaranjaPublicacao {
	background-color: #e78f08;
	width: 100%;
}

.fonteM {
	color: maroon;
	width: 100%;
}

.fonteIndexPublicacao {
	font-weight: bold;
}

.fonteObs {
	color: red;
	font-size: 12px;
}

.fonteDestaq {
	color: #e78f08 !important;
	font-size: 18px;
}

.fonteObsAlignRight {
	color: red;
	font-size: 12px;
	text-align: right;
}

.fonteErro {
	color: red;
	font-size: 35px;
}

.fonteLaranja {
	color: #e78f08;
}

.fonteInfoDestaq {
	font-size: 12px;
	color: #e78f08;
}

.alignCenter {
	margin-left: auto !important;
	margin-right: auto !important;
}

.cabecarioWizardUsr {
	width: 17%;
	color: #e78f08;
	text-align: center;
	font-size: 13px !important;
}

.imgFacebookLogin {
	background-image: url("/img/facebook.gif") !important;
}

.semBorda tr,.semBorda td {
	border: none !important;
}

.panelOrgs {
	width: 97%;
	height: 130px;
}

.tabView {
	background-color: #747474;
}

.fonteMenu {
	font-size: 15px;
	color: #363636;
}

.f5 {
	font-size: 13px;
	color: #363636;
	font-weight: bold;
}

.f6 {
	font-size: 13px !important;
	color: #696969;
}

.f7 {
	font-size: 13px;
	color: #696969;
}

.fontePubliAnimal {
	font-size: 13px;
	color: #363636;
	font-weight: bold;
}

.usrPagFundo tr,.usrPagFundo td {
	border: none !important;
	background: linear-gradient(rgba(255, 254, 252, 1),rgba(151, 178, 180, 1));
}

.imgDinamica tr, .imgDinamica td{
	border: none !important;
	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url('/Pegadas/resources/upload/avatar/1163cd2b90d853bc592d04fb28b88927.jpg')!important;
}

.fieldSet tr, .fieldset td{
	background: none !important;
}

.novoFFPanel {
	color: #4169E1 !important;
	background-color: #4169E1 !important;
}

.ui-tabs-left .ui-tabs-nav{
	background-color: #FFD700 !important;
	height: 400px !important;
}



